name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: ['3.4', '3.3', '3.2', '3.1', '3.0']

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup Ruby
      uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true

    - name: Bundle update
      run: |
        bundle update

    - name: Run test
      run: |
        bundle exec rspec --profile 10 \
                          --format RspecJunitFormatter \
                          --out test_results/rspec.xml \
                          --format progress

    - name: Upload code coverage
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        files: ./coverage/coverage.xml

    - name: Run rubocop
      run: |
        bundle exec rake rubocop

    - name: Run rufo
      run: |
        bundle exec rake rufo:run

    - name: Verify rufo works against sample codebases
      run: |
        bin/verify-sample-code

    - name: Save test results
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      with:
        name: coverage-ruby-${{ matrix.ruby_version }}
        path: coverage
